* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica neue";
}

hmtl,
body {
  height: 100%;
  width: 100%;
}

.nav {
  background-color: green;
  height: 200px;
  width: 100%;
}

.section {
  background-color: lightblue;
  height: 85vh;
  width: 100%;
  padding: 100px;
}

.center {
  background-color: red;
  width: 50%;
  margin: 0 auto;
  height: 100%;
  text-align: center;
}